## Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## Build results
bin/
obj/
[Bb]in/
[Oo]bj/

## NuGet Packages
packages/
*.nupkg
**/obj/*.nuget.*
**/obj/project.*.cache

## Test results
TestResults/
*.trx
*.tmp
*.tmp.js

## Coverage files
*.coverage
*.coverage.xml
*.CoverletSourceRootsMapping

# NuGet temporary files
**/obj/*.nuget.*
**/obj/project.*.cache
